<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yukari.dao.ShutUpMapper">

    <insert id="insert" parameterType="com.yukari.entity.ShutUp">
        INSERT INTO dy_shutUp_196
        (room_id, executer_type, executer_id, executer_name, shutUp_id, shutUp_name, end_time, ban_time)
        VALUES (#{room_id},#{executer_type},#{executer_id},#{executer_name},#{shutUp_id},#{shutUp_name},#{end_time},#{ban_time})
    </insert>

</mapper>